<div class="background">
  <h1 class="welcome-header">About</h1>
  <h3 class="welcome-desc">
    Cross It Off is a self destructing todo list that keeps track of tasks and how long the user has left to complete them!
  </h3>
</div>
