<div class"media">
  <div class="media-body">
    <% if items.empty? %>
      <span>You have nothing to do!</span>
    <% else %>
      <table class="item-table">
        <% items.each do |i| %>
          <% if i.user_id == @user.id %>
            <%= content_tag_for(:tr, i, class: "todo-row") do %>
              <% if @user.id == current_user.id %>
                <td class="todo-comp">
                  <%= link_to "", user_item_path(user_id: @user.id, id: i.id), method: :delete, class: 'glyphicon glyphicon-ok', remote: true %>
                </td>
              <% end %>
              <td class="todo-item">
                <%= i.name %>
              </td>
              <td class="todo-time">
                <%= distance_of_time_in_words_to_now(i.created_at) %>
              </td>
            <% end %>
          <% end %>
        <% end %>
      </table>
    <% end %>
  </div>
</div>
