// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.todo-list {
  text-align: center;
  color: white;
  width: 50%;
  margin: 0 auto;
}

.todo-entry {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}
