// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.background {
  background-color: #3B653D;
  border-width: 10px;
  border-color: #b69b4c;
  height: auto;
  min-height: 100%;
  border-style: groove;
  padding-bottom: 100px;
}

.welcome-header {
  text-align: center;
  font-size: 40px;
  color: white;
}

.welcome-desc {
  text-align: center;
  color: white;
}
